__pycache__
.ipynb_checkpoints
.mypy_cache

# autoenv scripts
.env
.env.leave

#output results
output/*

#model weights
weights/*


# anything related to profiling
profile.html
profile.json
profile_test.py


# document upload experiment temporary files
tmp.pdf
tmp.txt